::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #111827;
}
::-webkit-scrollbar-thumb {
    background-color: #41B883;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ff756f;
}
.self-start {
    align-self: start !important;
}
.scroll-x {
    overflow-x: auto;
}
.bg-transparent {
    background-color: transparent !important;
}

.mask-right {
mask-image: linear-gradient(to right, black 85%, transparent);
-webkit-mask-image: linear-gradient(to right, black 85%, transparent);
}

.mask-left {
    mask-image: linear-gradient(to left, black 85%, transparent);
    -webkit-mask-image: linear-gradient(to left, black 85%, transparent);
}

.mask-both {
    mask-image: linear-gradient(to right, black 85%, transparent, transparent, black 15%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 15%, black 85%, transparent);
}
  